body{
    background:linear-gradient(purple,maroon,purple);
    color: white;
    
}
img{
    width: 300;
}
#H{
background-color:goldenrod;
}
h1{
    font-family: 'Lobster', cursive;  
}
#c{
    background-color:dodgerblue; 
    position: fixed;
    bottom: 10px;
    width:100%;
    line-height:3;
    font-size: 20px;
    text-shadow: 2px 2px 2px gray;
}
